* {
  margin:0;
  padding: 0;
}


.todoInput {
  padding: 7px;
  width: 195px;
}


header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapperHeader {
  display: flex;
  align-items: stretch;
}

.wrapperHeader button {
  width: 75px;
}


.container {
  max-width: 955px;
  margin: 0 auto;
  padding: 55px 0;
}